                .bg {
                    background-image: url(bg.jpg);
                    height: 800px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                .link {
                    border-right: 2px solid rgb(68, 66, 66);
                    text-align: center;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                
                .link:hover {
                    background-color: rgb(219, 15, 49);
                }
                
                .icon {
                    font-size: 20px;
                    padding-top: 10px;
                    margin-left: 5px;
                    margin-right: 5px;
                    color: white;
                }
                
                .btn-1 {
                    border: 2px solid rgb(207, 8, 41);
                    color: white;
                    font-size: 12px;
                    text-align: center;
                    padding: 8px;
                    text-decoration: none;
                }
                
                .btn-1:hover {
                    background-color: rgb(204, 21, 61);
                    color: white;
                    text-decoration: none;
                }
                
                .carousel-indicators {
                    width: 100%;
                    padding: 50px;
                }
                
                .bt {
                    border: 2px solid rgb(219, 21, 70);
                    color: black;
                }
                
                .bt:hover {
                    background-color: rgb(202, 30, 53);
                    color: white;
                }
                
                .title {
                    color: black;
                }
                
                .title:hover {
                    color: rgb(184, 3, 33);
                    text-decoration: none;
                }
                
                .cont {
                    background: white;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                
                .cont1 {
                    margin-left: 30px;
                    margin-right: 30px;
                }
                
                .bg1 {
                    background-image: url(bg.jpg);
                    height: 200px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                
                .col-item {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    text-align: start;
                }
                
                .btn-2 {
                    border: 2px solid rgb(207, 8, 41);
                    color: rgb(201, 31, 74);
                    font-size: 16px;
                    text-align: center;
                    padding: 8px;
                    text-decoration: none;
                }
                
                .btn-2:hover {
                    background-color: rgb(180, 17, 44);
                    color: white;
                    text-decoration: none;
                }
                
                .para {
                    margin-bottom: 100px;
                }
                
                .icon1 {
                    font-size: 80px;
                    margin-left: 100px;
                    padding-top: 50px;
                }
                
                .btns {
                    background-color: rgb(39, 38, 38);
                    color: white;
                    font-size: 20px;
                }
                
                .btns:hover {
                    text-decoration: none;
                    background-color: rgb(187, 28, 62);
                }